.form_container {
  display: flex;
  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  background-color: #344ea2;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.form_container input,
.form_container select {
  border: none;
  border: 1px solid #031955;
  outline: none;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

.form_container select {
  background-color: #344ea2;
}

.form_container button {
  background-color: #031955;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
}

.form_container input::placeholder {
  color: #fff;
}
